// Змінні
@import './utils/variables';

// visually-hidden
@import './utils/visually-hidden';

// База
@import './base/base';

// Контейнер
@import './components/container';

// Секції
@import './components/section';

// Title
@import './components/title';

// Subtitle
@import './components/subtitle';

// Logo
@import './components/logo';

// Кнопки
@import './components/buttons';

// Header
@import './components/header';


// Navigation
@import './components/navigation';

// Contacts
@import './components/contacts';

// Hero
@import './components/hero';

// Features
@import './components/features';

// Activity
@import './components/activity';

// Employee
@import './components/employee';

// Socials
@import './components/socials';

// Clients
@import './components/clients';

// Footer
@import './components/footer';

// Address
@import './components/address';

// Footer form
@import './components/footer-form';

// Filter
@import './components/filter';

// Projects
@import './components/projects';

// Modal window
@import './components/modal-window';

// Modal form
@import './components/form';

// Checkbox
@import './components/checkbox';
