.button {
    font-style: inherit;
    cursor: pointer;
    border: none;
}

.button--main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    padding: 0;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $primary-text-mode-dark;
    cursor: pointer;

    border: none;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color $anim-duration-timing-function,
    box-shadow $anim-duration-timing-function;

    &:hover,
    &:focus {
        background-color: $accent-color-hover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.button__text--main {
    margin-right: 10px;
}

.button__icon--main {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/icons-svg/icon-send.svg);
}

.hero__button {
    margin: 0 auto;
}
.footer__button {
    margin-left: 12px;
}