.features__list {
    @include mq (tablet) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.features__item {
    @include mq (tablet) {
        width: calc((100% - 30px) / 2);
    }

    @include mq (desktop) {
        width: calc((100% - 90px) / 4);
    }

    @include mq (mobile-only) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @include mq (tablet-only) {
        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 30px;
        }
    }
}

.features__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    border-radius: 4px;
    background-color: $secondary-bgc-mode-light;
}

.features__icon {
    width: 70px;
    height: 70px;
}

.fetures__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-mode-light;
}