.form__label {
    display: block;
    margin-bottom: 10px;
}

.form__text {
    display: inline-block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $secondary-text-mode-light;
}

.form__input-wrapper {
    position: relative;
    display: block;
}

.form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    transition: border-color $anim-duration-timing-function;

    &:focus {
        border-color: $accent-color;
    }
    &:focus-visible {
        outline: transparent;
    }
}
.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

    transition: fill $anim-duration-timing-function;

    .form__input:focus + & {
        fill: $accent-color;
    }
}

.form__button {
    margin: 0 auto;
}

.textarea {
    margin-bottom: 20px;
}

.textarea__place {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    transition: border-color $anim-duration-timing-function;

    &:focus {
        border-color: $accent-color;
    }
    
    &:placeholder-shown {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }
    &:focus-visible {
        outline: transparent;
    }
}