.nav {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav__item {
    position: relative;
    margin-right: 50px;

    &:last-child {
        margin: 0;
    }
}
.nav__link {
    color: $primary-text-mode-light;
    transition: color $anim-duration-timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}
.nav__link--current {
    color: $accent-color;

    &::after {
        position: absolute;
        bottom: -33px;
        left: 0;
    
        content: '';
        display: block;
        width: 100%;
        height: 4px;
    
        background-color: $accent-color;
        border-radius: 2px;
    }
}

